In [30]:
import pandas as pd
import numpy as np

In [59]:
cl = pd.read_csv('clustered055.csv')
players = pd.read_csv('playerList.csv')

In [60]:
# iplayers = players[players['cid'] != 12]
# iplayers.head()

In [61]:
tplayers = pd.DataFrame.merge(cl, players, on='pid', how='inner')

In [62]:
ipc = tplayers[tplayers['cid']  == 5]
ipc.cid in ipc.cid.values
ipc[ipc.clusterRI == 1]
# ipc.shape

,pid,batRI,bowlRI,clusterRI,name,yob,cid,iscurrent
7,3108.0,-0.294662,4.101824,1,A Mishra,1982,5,1
176,3993.0,-0.213151,2.765153,1,Mohammed Shami,1990,5,1
188,4062.0,-0.296513,3.068817,1,J J Bumrah,1993,5,1
189,4063.0,-0.268088,3.024221,1,Y S Chahal,1990,5,1
302,4652.0,-0.228503,3.115500,1,Kuldeep Yadav,1994,5,1

In [63]:
def selectPlayers(pclustered, team):
    pospl = pd.DataFrame()
    
    rankbat = list()
    rankbowl = list()
    
    pteam = pclustered[pclustered.cid == team]
    
#     print(pteam)
    
    ptbat = pteam[pteam.clusterRI == 0]
    ptbat = ptbat.sort_values(['batRI'], ascending=False).reset_index(drop=True)
#     print(ptbat)
    
    ptbowl = pteam[pteam.clusterRI == 4]    
    ptbowl = ptbowl.sort_values(['bowlRI'], ascending=False).reset_index(drop=True)
#     print(ptbowl)
    
    ptall = pteam[(pteam.clusterRI == 2 | (pteam.clusterRI == 3))]
    ptall.insert(2, 'rir', ptall.batRI/ptall.bowlRI)

    ptall = ptall.sort_values(['rir', 'batRI','bowlRI'], ascending = False).reset_index(drop=True)
#     print("ptall", ptbowl)
    
    for i in [0, 1, 2, 3, 4]:
        pospl = pospl.append(ptbat.iloc[i])
    
#     print("len bat - ", len(pospl))
    
    if len(ptbowl) >= 4:
        rng = 4
    else:
        rng = len(ptbowl)
        
#     print(rng)
    for b in range(0, rng):
#         print("BBB ", b)
        pospl = pospl.append(ptbowl.iloc[b])
        
    l = len(pospl)
#     print("len - ", l)
    for b in range(0, 11 - 6):
        pospl = pospl.append(ptall.iloc[b])
        
#     print(pospl)
        
#     batting ranking

    batpl = pospl.sort_values(['batRI'], ascending=False).reset_index(drop=True)
    
    for b in range(0, 11):
        rankbat.append((b+1, batpl.iloc[b]['name']))
        
#     bowling ranking

    bowlpl = pospl.sort_values(['bowlRI'], ascending=False).reset_index(drop=True)
    
    for b in range(0, 11):
        rankbowl.append((b+1, bowlpl.iloc[b]['name']))
        
    return (rankbat, rankbowl)
        
    
    
# selectPlayers(ipc, 5)

In [64]:
ranking = selectPlayers(ipc, 5)

print('BATSMAN RANKING')
print('----------------------------------------------------')
for pl in ranking[0]:
    print('POSITION: ', pl[0], '- NAME: ', pl[1])
    
print()
print('BOWLER RANKING') 
print('----------------------------------------------------')
for pl in ranking[1]:
    print('POSITION: ', pl[0], '- NAME: ', pl[1])

BATSMAN RANKING
----------------------------------------------------
POSITION:  1 - NAME:  V Kohli
POSITION:  2 - NAME:  A T Rayudu
POSITION:  3 - NAME:  R G Sharma
POSITION:  4 - NAME:  M S Dhoni
POSITION:  5 - NAME:  S S Iyer
POSITION:  6 - NAME:  J Yadav
POSITION:  7 - NAME:  Parvez Rasool
POSITION:  8 - NAME:  N A Saini
POSITION:  9 - NAME:  S N Thakur
POSITION:  10 - NAME:  Mohammed Shami
POSITION:  11 - NAME:  Kuldeep Yadav

BOWLER RANKING
----------------------------------------------------
POSITION:  1 - NAME:  A Mishra
POSITION:  2 - NAME:  Kuldeep Yadav
POSITION:  3 - NAME:  J J Bumrah
POSITION:  4 - NAME:  Y S Chahal
POSITION:  5 - NAME:  Mohammed Shami
POSITION:  6 - NAME:  S N Thakur
POSITION:  7 - NAME:  Parvez Rasool
POSITION:  8 - NAME:  N A Saini
POSITION:  9 - NAME:  J Yadav
POSITION:  10 - NAME:  A T Rayudu
POSITION:  11 - NAME:  R G Sharma